@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;O,9Oo;1,1OO;1.2OO;1.3OO;1.4OO;1.5OO;1.6OO;1.7OO;I.8OO;i.9OO&family=Raleway:ital,wght@O,lOOfi9OOfiO,lOOfi9OOfiI,lOOfi9OOfiI,lOOfi9OOfiI,lOOfi9OOfiI,lOOfi9OOfiI,lOOfi9OOfiI,lOOfi9OOfiI,lOOfi9OOflI,lOOflflllI,lOOflflllI,lOOflflllI,lOOflflllI,lOOflflllI,lOOflflllI,lOOflflllI,lOOflflllI&family=Roboto:ital,wght@o,i OO... 9 OO O  8 OO O  8 OO O  8 OO O  8 OO O  8 OO O  8 OO O  8 OO O  8 OO O  8 OO O  8 OO O  8 OO O  8 OO O   display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}

body{
  font-family: "Onestgi", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.container{
  max-width: 1840px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__inner {
  display: flex;
  align-items: center;
}


.menu{
  margin-left: 160px;
  margin-right: auto;
}

.menu__list{
  display: flex;
  font-size: 24px;
  gap: 40px;
}

.menu__lang{
  margin-right: 40px;
  display:flex;
  gap:8px;
  font-size: 24px;
  color: #fff;
}


.header__inner .logo img{
  height: 100px;
  width: 148px;
  font-size: 24px;  
}

.header__btn{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 48px;
  width: 48px;
  gap: 8px;
}

.header__btn span {
  background-color: #fff;
  height: 2px;
  width: 60%;
}

.header{
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.top{
  background-image: url('/static/images/Image1.png');
  height: 100vh;
}

.top__inner{
  padding-top: 200px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  color: white;
  height: 100vh;
}

.top__container{
  font-size: 18px; 
  display: flex;
}

.top__title{
  font-size: 200px;
  font-weight: 700;
  line-height: .85;
  text-transform: uppercase;
}

.top__title span{
  display: block;
  margin-left: 200px;
}


.top__text{
  font-size: 18px;
  margin-left: -20px;
}

.top__context{
  max-width: 368px;
  text-align: right;
  margin-left: auto;
}

.top__info{
  display: flex;
  margin-top: auto;
  gap: 40px;
}

.top__info__list{
  max-height: 111px;
  display: flex;
  gap: 85px;
  font-weight: 600;
}

.info-block {
  min-width: 200px;
  flex: 1;
  white-space: nowrap;
  font-family: "Onest", sans-serif;
}

.info-block dt {
  font-size: 64px;
  max-height: 70px;
  font-weight: semi-bold;

}

.info-block dd {
  font-size: 32px;

}

.button-explore{
  margin-left: auto;
}

.top--explore--button{
display: flex;
justify-content: center;
align-items: center;
width: 150px;
height: 150px;
background: radial-gradient(50% 50% at 50% 50%, rgba(0, 130, 251, 0.1) 20.19%, rgba(255, 255, 255, 0.6) 100%);
border-radius: 50%;
font-size: 24px;
font-family: "Onest", sans-serif;
color: white;
font-weight: 400;
transition: all 1s ease-in-out;
display: inline-block;
}

.top--explore--button:hover{
  transform: scale(1.1);
  font-weight: 600;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 130, 251, 0.1) 0%, rgba(0, 130, 251, 0.6) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 1s ease-in-out;
}

.explore-visual-top{
  width: 320px;
  height: 314px;
  
}

